<!DOCTYPE html>
<html>
<head>
<style>

html 	{
		margin: 0px;
		padding: 0px;
		border: 0px;
		}

body	{
		border-style: none;
		border-collapse: collapse;
		border-spacing: 0px;
		margin: 0px;
		padding: 0px;
		border: 0px;
		background-image: url("images/tausta.jpg");
		background-repeat: no-repeat;
		background-color: #3dc1ff;
		}

h1		{
		color: blue;
		font-size: 26px;
		}

h2		{
		color: blue;
		font-size: 20px;
		}
		
p		{
		font-size: 12px;
		color: blue;
		}

table	{
		border-collapse: collapse;
		border-spacing: 0px;
		border: 0px;
		margin: 0px;
		padding: 0px;
		}

span	{
		color: blue;
		font-size: 24px;
		}


</style>
</head>
<body>
</body>
</html>